# Just to help to find people able to deal with pull requests

# Top-level files

.gitignore @pylapp
AUTHORS.txt @pylapp
CHANGELOG.md @pylapp
CITATION.cff @pylapp
DCO.txt @pylapp
gitleaks.toml @pylapp
LICENSE.txt @pylapp
README.md @pylapp
renovate.json @pylapp
THIRD-PARTY.md @pylapp

.github/ @pylapp

# Toolbox

/toolbox/LicensesInventory/ @pylapp @laurentora
/toolbox/diver/ @pylapp
/toolbox/github/ @pylapp
/toolbox/gitlab/ @pylapp
/toolbox/utils/ @pylapp
/toolbox/dry-run.sh @pylapp