toolbox/github/data
toolbox/github/.env

toolbox/diver/data
toolbox/diver/.floss-toolbox/data

toolbox/gitlab/data
toolbox/gitlab/.env

toolbox/utils/text-generator/_templates/new-GitHub-repository-contributors.fr.template.txt.result
toolbox/utils/third-party-generator/components.csv.result
toolbox/utils/third-party-generator/THIRD-PARTY.md.result
toolbox/utils/third-party-generator/__pycache__
toolbox/utils/_/__pycache__/
toolbox/utils/reuse/.reuse/

toolbox/LicensesInventory/.pytest_cache
toolbox/LicensesInventory/sources/__pycache__
toolbox/LicensesInventory/sources/*/__pycache__
toolbox/LicensesInventory/sources/data_to_test_main
toolbox/LicensesInventory/sources/test_main.py
toolbox/LicensesInventory/tests/.pytest_cache
toolbox/LicensesInventory/tests/integrationtests/__pycache__
toolbox/LicensesInventory/tests/integrationtests/real_data
toolbox/LicensesInventory/tests/unittests/__pycache__
toolbox/LicensesInventory/tests/unittests/data