# Just to help to find people able to deal with pull requests

# Top-level files

.gitignore @pylapp
AUTHORS.txt @pylapp
CHANGELOG.md @pylapp
CITATION.cff @pylapp
CODE_OF_CONDUCT.md @pylapp
CODE_OF_CONFLICT.md @pylapp
CONTRIBUTORS.txt @pylapp
LICENSE.txt @pylapp
README.md @pylapp
DCO.txt @pylapp
SECURITY.md @pylapp

# Toolbox

/toolbox/LicensesInventory/ @pylapp @laurentora
/toolbox/diver/ @pylapp
/toolbox/github/ @pylapp
/toolbox/gitlab/ @pylapp
/toolbox/utils/ @pylapp
/toolbox/dry-run.sh @pylapp